.light-blue-bkg {
  background-color: #4c8cc9; }

.dark-blue-bkg {
  background-color: #35568A;
  color: white; }

body {
  position: relative;
  margin: 0; }

ul {
  margin: 0; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  width: 16%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }
  .sidebar li {
    list-style: none; }
  .sidebar a {
    color: white; }
  .sidebar .doc-viewer-logo-con {
    padding: 5px;
    text-align: center; }

.markdown-content {
  margin-left: 16%;
  padding: 20px;
  width: 70%;
  height: 100%;
  overflow: auto; }
  .markdown-content li.task-list-item {
    list-style: none; }
    .markdown-content li.task-list-item .task-list-item-checkbox {
      margin: 0 0.35em 0.25em -1.6em;
      vertical-align: middle;
      cursor: default; }

.markdown-toc {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  width: 23%; }
  .markdown-toc li {
    list-style: none; }

.cls {
  clear: both;
  height: 1px; }
