<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--style for highlight.js-->
    <!--TODO: idea cant show hint for the assets -->
    <link rel="stylesheet" href="/assets/style/vendor/highlight.js/default.css"/>
    <link rel="stylesheet" href="/assets/style/bundle.css"/>
</head>
<body>
<!--A slide bar to show search and folder or category?  -->
<div class="sidebar dark-blue-bkg">
    <h2>Doc viewer</h2>
    <div>A da da</div>
</div>
<div class="markdown-content">
    <%- markdown.content %>
</div>
<div class="markdown-toc">
    <%- markdown.toc %>
</div>
<div class="cls"></div>
</body>
</html>