// TODO: better layout. responsive if possible

body{
    // for affix
    position: relative;

    margin: 0;
}

ul{
    margin: 0;
}

.sidebar {
    position: fixed;
    top:0;
    left: 0;

    padding: 10px;

    width: 16%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;

    li {
        list-style: none;
    }

    a {
        color: white;
    }

    .doc-viewer-logo-con {
        padding:5px;

        text-align: center;
    }
}

.markdown-content {
    // TODO:refactor using variables
    margin-left: 16%;
    padding: 20px;

    width: 70%;
    height: 100%;

    overflow: auto;

    li.task-list-item {
        list-style: none;

        .task-list-item-checkbox {
          // copied from github...
          margin: 0 0.35em 0.25em -1.6em;
          vertical-align: middle;
          // otherwise the cursor would show a forbidden icon
          cursor: default;
        }
    }
}

.markdown-toc{
    position: fixed;
    top:0;
    right: 0;

    padding: 10px;
    width: 23%;

    li {
        list-style: none;
    }
}

.cls{
    clear: both;
    height: 1px;
}