// TODO: better layout. responsive if possible

body{
    // for affix
    position: relative;

    margin: 0;
}

ul{
    margin: 0;
}

ul .affix{
    top: 30px; /* Set the top position of pinned element */
}

li.active > a {
    background-color: yellow;
}

ul.affix > li.active > a {
    background-color: transparent;
}

.sidebar {
    position: fixed;
    top:0;
    left: 0;

    padding: 10px;

    width: 18%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;
  
}

.markdown-content {

    margin-left: 20%;
    padding: 10px;

    width: 75%;
    height: 100%;

    overflow: auto;
}

.markdown-toc{
    position: fixed;
    top:0;
    right: 0;

    padding: 10px;
    width: 18%;
}

.cls{
    clear: both;
    height: 1px;
}